*.DS_Store
.vscode/

*.ipynb_checkpoints
*Untitled*.ipynb
notebooks/output/*
**/.snakemake

**/Manifest.toml
fort*

src/corsika/build/

*.pdf
*.png

# Coverage and profiling artifacts
*.cov
*.profraw
