*.DS_Store
.vscode/

*.ipynb_checkpoints
*Untitled*.ipynb
notebooks/output/*
**/.snakemake

**/Manifest.toml
fort*

src/corsika/build/
resources/corsika/src/build/
resources/proposal_tables/*.json
examples/output/

*.pdf
*.png

# Coverage and profiling artifacts
*.cov
*.profraw